<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>758583185214-aj1dhtrq20rqeq02p7m0g094k93gbnae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.758583185214-aj1dhtrq20rqeq02p7m0g094k93gbnae</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>758583185214-eohkgk3fnlamint93hpso4p5fisa9ehg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCUuMTHjQmPb7xXt_p8Vwuw_lf-yhMxoL0</string>
	<key>GCM_SENDER_ID</key>
	<string>758583185214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.checkcheck</string>
	<key>PROJECT_ID</key>
	<string>check-check-2a42e</string>
	<key>STORAGE_BUCKET</key>
	<string>check-check-2a42e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758583185214:ios:6acec68c622158874ea66f</string>
</dict>
</plist>